force-app/main/default/flows/Call_Restful_Booker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateBooking</name>
        <label>Create Booking</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>POSTRestfulBooking.CreateBooking</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Request</elementReference>
            </value>
        </inputParameters>
        <nameSegment>POSTRestfulBooking.CreateBooking</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>BuildRequest</name>
        <label>Build Request</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Request.bookingdates.checkin</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2024-01-01</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.bookingdates.checkout</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2024-01-31</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.additionalneeds</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>none</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.depositpaid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.firstname</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>John</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.lastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blackthorne</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request.totalprice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateBooking</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Call Restful Booker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Restful Booker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Response</name>
        <label>Response</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>CreateBooking.responseCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>API_Call__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>BuildRequest</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Request</name>
        <apexClass>ExternalService__POSTRestfulBooking_CreateBooking_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
